<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');
    img{
        margin: auto; display: block;padding-top: 2%;width: 100%;max-width: 40rem;
    }

    a{
        text-decoration: none;
        color: #007dfe;
        background: transparent;
        background-color: transparent;
        font-family: poppins, sans-serif;
        box-shadow: 0 1rem 2rem rgba(133, 133, 133, 0.219);
    }

</style>

<div class="container">
    <div style="width: 100%; height: 100%;text-align: center;" >
        <img src="https://img.freepik.com/free-vector/oops-404-error-with-broken-robot-concept-illustration_114360-1932.jpg" alt="">
        <h1><a href="/">GO HOME</a></h1>
    </div>    
</div>