{% extends 'layout/base.html' %}
{% load static %}
{% block content %}
{% include 'layout/navbar.html' %}

<link rel="stylesheet" type="text/css" href="{% static 'css/blogs.css' %}">
<div class="container">
    <H1 style="text-align: center;">About Us</H1>
    <div class="text" style="padding-left: 10%;padding-right: 10%;text-align: justify;">
        <h3>Our Mission Statement</h3>
        <p>We will prioritize people more than the profits. Profits will come if people come first.</p>
        <br>
        <p style="padding:5em 25m 40em;">We are taste activists / enthusiasts in the field of food and beverage. We want to give the best taste with consistency, that's our satisfaction.NGOPIKUY is a roastery coffee based in Indonesia. our value is to give the best product quality and taste, and also contribute to coffee in Indonesia.
        </p>
    <img src="https://images.pexels.com/photos/2159065/pexels-photo-2159065.jpeg?auto=compress&cs=tinysrgb&w=800&h=750&dpr=1" alt="">

    </div>
</div>


{%endblock%}
