{% extends 'layout/base.html' %}
{% load static %}
{% block title %}
<title>Ngopikuy..! - Contact Us</title>
{% endblock %}
{% block content %}
{% include 'layout/navbar.html' %}

<style>
    .full{
        height: fit-content;
    }

    .responsive-map-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

    .responsive-map-container iframe,   
    .responsive-map-container object,  
    .responsive-map-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>
<link rel="stylesheet" type="text/css" href="{% static 'css/blogs.css' %}">
<section class="full">
    <div class="container">
        <H1 style="text-align: center;">CONTACT US</H1>
        <div class="text" style="padding-left: 10%;padding-right: 10%;padding-top: 3%;">
            <p>Please use the form below to send us a message and we will replay within one business day. You can also drop us an email anytime or feel free to give us a call, We’d love to hear from you!</p>
        </div>
        <br>
        <div class="form" style="padding-left: 10%;padding-right: 10%;padding-top: 3%;">
            <form action="action_page.php">

                <label for="fname">First Name</label>
                <input type="text" id="fname" name="firstname" placeholder="Your name..">
            
                <label for="lname">Last Name</label>
                <input type="text" id="lname" name="lastname" placeholder="Your last name..">
            
                <label for="country">Country</label>
                <select id="country" name="country">
                <option value="indonesia">Indonesia</option>
                <option value="america">America</option>
                <option value="russia">Russia</option>
                </select>
            
                <label for="subject">Subject</label>
                <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
            
                <input type="submit" value="Submit">
            
            </form>
        </div>
        <br>
        <div class="text" style="padding-left: 10%;padding-right: 10%;">
            <H2>WE ARE LOCATED AT:</H2>
            <p><strong>ngopikuy</strong> is located in central of Jakarta, Indonesia.</p>
            <div class="responsive-map-container">
                <!-- place the iframe code between here... -->
                <iframe src="https://maps.google.com/maps?q=jakarta%20pusat&t=&z=13&ie=UTF8&iwloc=&output=embed" width="600" height="450" frameborder="0" style="border:0"></iframe>
                <!-- ... and here -->
            </div>
        </div>
    </div>
</section>

{%endblock%}
