/* Root Variable */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');

:root{
--color-light:#d1cecf;
--color-bold:#d8d8d8;
--color-brown-lighter:#754035;
--color-brown-active:#a75241;
--color-brown-light: #572920;
--color-brown-bold :#381a14;
--color-text-normal: #1b1b1b;
--box-shadow:rgba(0, 0, 0, 0.25) 0px 25px 20px -12px;
--padding-parent:2rem 4rem 2rem;
}


*{
    margin:0;
    padding:0;
    outline:0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    font-size: 0.88rem;
    font-family: poppins, sans-serif;
}

body{ 
    background-color: var(--color-light);
    overflow: visible;
}

a{
    text-decoration: none;
    color: var(--color-text-normal);
}

.container {
    height: 100vh;
}

.top{
    background-color: var(--color-light);
    height: 100vh;
}

.card{
    padding: var(--padding-parent);
    display: grid;
    grid-template-columns: 30% 60%;
    width: 95%;
    box-shadow: var(--box-shadow); 
    justify-content: space-between;
}

.card:nth-child(odd){
    text-align: justify;
    border-top-right-radius: 1.4rem;
    background-color: var(--color-bold);
    float: left;
}
.card:nth-child(even){
    text-align: justify;
    border-top-left-radius: 1.4rem;
    background-color: #a8a8a8;
    float: right;
}

.card:nth-child(even) .card-image{
    right: 0;
}

.card-image{
    width:  90%;
    height: 15rem;
    overflow: hidden;
}

.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform .5s ease;
    filter: brightness(85%);
}

.card-img:hover{
    filter: brightness(100%);
    transform: scale(1.5);
}

.name{
    color: #363636;
    text-align: center;
}

.description{
    color: #363636;
    text-align: justify;
    padding: var(--padding-parent);
}

.button-card{
    padding: var(--padding-parent);
}

@media (max-width: 1260px){
    .container{
        padding-top: 10em;
    }
    .card{
        display: block;
    }

} 


@media (max-width: 1212px){
    h2{
        font-size: medium;
    }
    p{
        font-size: small;
    }
} 

@media (max-width: 839px){
    .card{
        display: block;
    }
    .card-image{
        padding-left: 4rem;
        height: 19em;
        width:  20em;
        overflow: hidden;
    }
}

@media (max-width: 575px){
    .card{
        padding-left: 0;
        height: 28em;
        width: 100%;
        overflow: hidden;
    }
}


input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */

  