/* Root Variable */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');

:root{
--color-light:#d1cecf;
--color-bold:#d8d8d8;
--color-brown-lighter:#754035;
--color-brown-active:#a75241;
--color-brown-light: #572920;
--color-brown-bold :#381a14;
--color-text-normal: #1b1b1b;
--box-shadow:rgba(0, 0, 0, 0.25) 0px 25px 20px -12px;
--padding-parent:2rem 4rem 2rem;
}


*{
    margin:0;
    padding:0;
    outline:0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    font-size: 0.88rem;
    font-family: poppins, sans-serif;
}

body{ 
    background-color: var(--color-light);
    overflow: visible;
}

a{
    text-decoration: none;
    color: var(--color-text-normal);
}


.container {
    height: 100vh;
}

.child{
    scroll-snap-align: start;
}

/* ----------section top---------- */

.top{
    background-color: var(--color-light);
    height: 100vh;
}

.menu .menu-wrapper h1{
    color: var(--color-text-normal);
}

.category h1{
    color: var(--color-brown-lighter);
    padding-top: 5rem;
}
.category p{
    text-align: center;
    font-size: 1.3rem;
}

.menu{
    left: 0;
    gap: 4rem;
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    justify-content: center;
    margin: 3rem 0 3rem ;
    padding-right: 6rem;
}

.card-content{
    width: 100%;
    border-radius: 1.4rem;
  }
  
.card{
    border-radius: 1.4rem;
    background-color: var(--color-bold);
    box-shadow: var(--box-shadow); 
    margin-bottom: 2rem;
    overflow: hidden;
}
.image-content, .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.8rem 1rem;
}

.image-content{
    position: relative;
    row-gap: 0.3rem;
    padding: 1.8rem 0;
}

.card-image{
    position: relative;
    height: 200px;
    width:  300px;
    overflow: hidden;
}

.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform .5s ease;
    filter: brightness(85%);
}

.card-img:hover{
    filter: brightness(100%);
    transform: scale(1.5);
}

.description{
    color: #363636;
    text-align: center;
}

.price{
    margin-bottom: 0.8rem;
    text-align: center;
    padding: 0.5em 2em 0.5em;
    color: var(--color-brown-bold);
    box-shadow: var(--box-shadow);
    font-weight: 600;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: transparent;
    transition: 1s linear;
}

.price:hover{
    box-shadow: none
}

#btnControl {
    display: none;
}

#btnControl:checked + label >* {
    opacity: 0;
}

.table{
    justify-content: space-between;
}

.main-bar{
    margin:0;
    left: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 30% 70%;
}

.main-bar .customer{
    width: 30rem;
    padding: var(--padding-parent);
    box-shadow: var(--box-shadow);
}

.sticky{
    position: fixed;
}

.order-item{
    padding-top:5rem;
    overflow: hidden;
    width: 100%;
    object-fit: cover;
    max-width: fit-content;
}

td .three{
   width: 100%;
}

@media (min-width: 1468px) {
    td .three{
        width: 10rem;
    }
}

@media (min-width: 1593px) {
    td .three{
        width: 15rem;
    }
}

.bg-transparent{
    cursor: pointer;
    background-color: transparent;
}

.added{
    position: relative;
    right: 40%;
    opacity: 0;
}

.form-left{
    margin-top: 3rem;
}

select{
    margin-top: 0.4rem 0 0.4rem;
    background: var(--color-light);
    color: var(--color-text-normal);
    padding: 0.4rem;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
}

.form-checkout{
    font-weight: 600;
    pad: var(--padding-parent);
}

.titik-dua{
    width: 10px;
}

.form-ccv2{
    width: 23%;
}

.payment-with-cc{
    display: none;
}

.scanqr{
    margin-left: 10rem;
    height: 200px;
    width: 200px;
    display: none;
}

.scanqr .scan{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.paypal{
    margin-left: 10rem;
    height: 200px;
    width: 200px;
    display: none;
}

.paypal .scan{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.form-control{
    width: 80%;
    height: 2rem;
    border: 2px groove;
}

.form-table td{
    height: 3rem;
}

.form{
    width:80%;
}

.card-checkout{
    height: 100px;
    display: flex;
}

.card-img{
    height: 80px;
    width: 80px;
    margin: 10px;
}
.text{
    transform: translateY(40%);
    margin-left: 1rem;
}

.img-checkout{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cart-hidden{
    z-index: 5;
    display: none;
}

.checkout-hidden{
    bottom: 0;
    position: fixed;
    left: 0;
    font-size: 12px;
    background: var(--color-text-normal);
    color: var(--color-light);
    padding: 20px;
    border-top-right-radius: 1rem;
    cursor: pointer;
    z-index: 5;
}

.show-cart{
    bottom: 0;
    position: fixed;
    right: 0;
    font-size: 12px;
    background: var(--color-text-normal);
    color: var(--color-light);
    padding: 20px;
    border-top-left-radius: 1rem;
    cursor: pointer;
}
.cart-hidden p{
    font-size: 1.4em;
    padding-top: 0.5rem;
}

.cart-hidden p{
    font-size: 1.1em;
    padding-top: 0.5rem;
}

.cart-hidden span{
    font-size: 2em;
}

@media (min-height: 1023px) {
    .cart-hidden p{
        font-size: 1.5em;
    }
    
    .cart-hidden span{
        font-size: 2.9em;
    }
}

  /* Add Animation */
  @-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
  }
  
  @keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }

@media (max-width: 1467px) {
    .menu{
        left: 0;
        gap: 4rem;
        grid-template-columns: 32% 32% 32%;
        justify-content: center;
        margin: 3rem 0 3rem ;
        padding-right: 6rem;
    }
    .main-bar{
        display: grid;
        grid-template-columns: 30% 70%;
    }
    td .three{
        width: 9rem
    }
}  

@media (max-width: 1592px) {
    .main-bar .customer{
        width: 25rem;
        grid-template-columns: 30% 70%;
    }
    .order-item{
        width: 100%;
        max-width: 20rem;
    }
}

@media (min-width: 1320px){
    .order-item{
        display: block;
    }
} 

@media (max-width: 1319px) {
    .menu{
        gap:2rem;
        grid-template-columns: 22% 22% 22% 22%;
        padding-right: 0;
        pad: var(--padding-parent);  
    }
    .main-bar{
        display: block;
    }
    .main-bar .customer{
        box-shadow: none;
    }
    .name-cust{
        display: none;
    }
    .order-item{
        background-color:rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(2rem);
        left: 0;
        z-index: 6;
        padding-left: 10px;
        top: -3%;
        overflow: auto;
        height: 100%;
        display: none;
    }
    .checkout{
        display: none;
    }
    tr{
        height: 2.2rem;
    }
    .category h1{
        padding: var(--padding-parent);
    }
    .cart-hidden, .show-cart, .checkout-hidden{
        z-index: 7;
        display: flex;
    }
}

@media (max-width: 1028px) {
    .menu{
        gap:1.5rem;
        grid-template-columns: 31% 31% 31% ;
    } 
}

@media (max-width: 822px) {
    .menu{
        gap:1.5rem;
        grid-template-columns: 48% 48% ;
    } 
}


@media (max-width: 556px) {
    .menu{
        grid-template-columns: 90% ;
    } 
    .card-wrapper{
        width: auto;
    }
    .card{
        width: auto;
    }
}

@media (max-width: 378px) {

    .card-wrapper{
        width: max-content;
        margin-left: 1rem;
    }



}
