:root{
--color-light:#d1cecf;
--color-bold:#d8d8d8;
--color-brown-lighter:#754035;
--color-brown-active:#a75241;
--color-brown-light: #572920;
--color-brown-bold :#381a14;
--color-text-normal: #1b1b1b;
--box-shadow:rgba(0, 0, 0, 0.25) 0px 25px 20px -12px;
--padding-parent:2rem 4rem 2rem;
}

.sidebar{
    display: none;
    position: absolute;
    right: 6rem;
}

.sidebar-text{
    margin-top: 1rem;
}

.head{
    padding:var(--padding-parent);
    display: grid;
    grid-template-columns: 30% 40% 30%;
    transition: 500ms ease;
}

.head .middle ul{
    z-index: 2;
    position: relative;
    width: 100%;
    text-align: center;
    background-color: #fff;
    margin-top: 4ch;
    padding: 1rem;
    border-radius: 3rem;
    max-height: 10ch;
    box-shadow: var(--box-shadow);
    display: flex;
    list-style-type: none;
}

.head .middle ul li{
    flex-basis: 100%;
}

.head .middle ul li.active{
    color: var(--color-brown-active);
    font-weight: 800;
    font-size: 1rem;
    position: relative;
    transition: 500ms ease;
}

.head .middle ul li.active::after{
    content: "";
    position: absolute;
    height: 3px;
    width: 90%;
    right: 0;
    top: 2.23rem;
    background-color: var(--color-brown-bold);
    overflow: hidden;
}
.head .middle ul li a{
    text-decoration: none;
    color: var(--color-text-normal);
    font-weight: 600;
}

.head .middle ul li a:hover{
    color: var(--color-brown-lighter);
}

.head .right{
    right: 0;
    text-align: end;
    font-size: 1rem;
}

.head .right a span{
    top: 0.2rem;
    font-size: 1.4rem;
    margin-right: 0.4rem;
}

.hide{
    text-align: end;
    color: #fff;
    display: none;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  
  .sidenav h2, .sidenav p{
    text-align: center;
    color: #818181;
  }

  .sidenav p{
    margin-bottom: 2rem;
  }
  
  .sidenav a {
    text-align: start;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.3rem;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .sidenav a:last-child {
    position:relative;
    bottom: 0;
    padding-bottom: 5rem;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  #sideNavPrim {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
    .profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }

    .profile-photo .image-wrapper{
    background-color: red;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
  }

    .profile-photo .image-wrapper img{
    padding: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  #sideNavPrim a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.3rem;
    text-align: start;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  #sideNavPrim a:last-child {
    position: absolute;
    bottom: 0;
    padding-bottom: 5rem;
  }
  
  #sideNavPrim a:hover {
    color: #f1f1f1;
  }
  
  #sideNavPrim .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #mains {
    transition: margin-left .5s;
    cursor: pointer;
  }
  

@media (max-width: 1260px) {
    .head{
        padding:var(--padding-parent);
        display: grid;
        grid-template-columns: 50% 50%;
        background-color: var(--color-text-normal);
        position: fixed;
        width: 100%;
        z-index: 5;
    }
    .head .left a{
        color: #fff;
    }
    .head .middle{
        display: none;
    }
    .big{
        display: none;
    }
    .hide{
        display: block;
        position: relative;
    }

}