/* Root Variable */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');

:root{
--color-light:#d1cecf;
--color-bold:#d8d8d8;
--color-brown-lighter:#754035;
--color-brown-active:#a75241;
--color-brown-light: #572920;
--color-brown-bold :#381a14;
--color-text-normal: #1b1b1b;
--box-shadow:rgba(0, 0, 0, 0.25) 0px 25px 20px -12px;
--padding-parent:2rem 4rem 2rem;
--swiper-image-ratio: 33.3%; /* ratio 16:9 = 56.25% */

--swiper-width: 50%;
--swiper-inactive-scale: .85; /* makes the other slide smaller */

/* responsive settings */
--swiper-mobile-width: 90%;
--swiper-mobile-inactive-scale: .95;
}

*{
    margin:0;
    padding:0;
    outline:0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    font-size: 0.88rem;
    font-family: poppins, sans-serif;
}

body{    
    overflow: auto;
    background-color: var(--color-text-normal);
}

a{
    text-decoration: none;
    color: var(--color-text-normal);
}

.container {
    overflow: scroll;
    height: 100vh;
    width: 100%;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}

.swiper {
    padding-top: 5%;
    position: relative;
    width: 50%;
    height: calc(var(--swiper-width) * var(--swiper-image-ratio) / 100%);
    overflow: hidden;
}

.swiper-slide {
  position: relative;
  width: var(--swiper-width);
  opacity: .5;
  transform: scale(.84);
  transition: all .3s ease-in-out;
  overflow: hidden;
  border-radius: 0.4285rem;
}

.swiper-backface-hidden .swiper-slide {
  transform: scale(.84) translateZ(0);
}
        
.swiper-slide.swiper-slide-active {  
  transform: scale(1) !important;
  opacity: 1 !important;
}

.swiper-backface-hidden .swiper-slide.swiper-slide-active {
  transform: scale(1) translateZ(0) !important;
}

.swiper-image {
  position: relative;
  width: 100%;
  height: 33vh;
  padding-top: var(--swiper-image-ratio);
}

.desc-hover{
    opacity: 0;
    cursor: pointer;
    transition: 200ms ease;
    
}

.swiper-image .image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #929ec9;
}

.swiper-image .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

.swiper-image .image:hover .desc-hover{
    opacity: 1;
    
  }

.swiper-button-next {
  transform: translate(50%, -50%);
  right: calc((100% - var(--swiper-width)) / 2);
}

.swiper-button-prev {
  transform: translate(-50%, -50%);
  left: calc((100% - var(--swiper-width)) / 2);
}

@media only screen and (max-width: 768px) {
  .swiper {
    height: calc(var(--swiper-mobile-width) * var(--swiper-image-ratio) / 100%);
  }

  .swiper-slide {
    width: var(--swiper-mobile-width);
    transform: scale(var(--swiper-mobile-inactive-scale));
  }
  
  .swiper-backface-hidden .swiper-slide.swiper-slide {
    transform: scale(var(--swiper-mobile-inactive-scale)) translateZ(0);
  }

  .swiper-button-next {
    right: calc((100% - var(--swiper-mobile-width)) / 2);
  }

  .swiper-button-prev {
    left: calc((100% - var(--swiper-mobile-width)) / 2);
  }
}
.child{
    scroll-snap-align: start;
}

/* ----------section top---------- */

.top{
    background-color: var(--color-light);
    height: 100vh;
}

.main{
    height: 72vh;
}

.main-menu{
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0;
    padding: 0;
}

.main-left{
    height: 50%;
    width: 50%;
    margin: auto;
}

.main-left h1{
    width: 100%;
    font-size: 5rem;
    color: var(--color-brown-light);
}

.main-left p{
    width: 100%;
    color: var(--color-text-normal);
}

.main-left .button{
    margin-top: 1rem;
    text-align: center;
    padding: 0.5em 2em 0.5em;
    display: inline-block;
    color: var(--color-brown-bold);
    text-decoration: none;
    border-radius: .6rem;
    box-shadow: var(--box-shadow);
    font-weight: 600;
    font-size: 1.2rem;
    transition: 500ms ease;
}

.main-left .button svg{
    width: 1.6rem;
    color: var(--color-brown-bold);
}


.main-left .button:hover{
    background-color: var(--color-brown-lighter);
    color: var(--color-light);
}

.main-left .button:hover svg{
    width: 1.6rem;
    color: var(--color-light);
}


.main-right{
    overflow: hidden;
    height: 70vh;
    width: 100%;
    position: relative;
}

.main-right img{
    height: 100%;
    object-fit: fill;
}

.main .sosial-media{
    width: 25%;
    text-align: end;
}

.main .sosial-media i{
    font-size: 1.85em;
    margin-left: 5%;
}

.main .sosial-media P{
    padding-bottom: 2% ;
    font-size: 1.3em;
}


.content{
    height: 100vh;
}

.last{
    max-width: 100%;
    overflow: hidden;
    height: 75vh;
    border-radius: 0 0 3rem 3em;
    background-color: var(--color-light);
}

.container-last{
    height: 75vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container-bg{
    background-image: url("https://ucarecdn.com/89795d1a-7685-4b07-bd10-a6212e44287b/bg.png");
}

.content-text{
    height: 50%;
    width: 50%;
    margin: auto;
}

#typewrite{
    font-weight: 100;
}


/* ----------section content---------- */

.content .topcontent{
    padding-top: 2%;
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    display: grid;
    grid-template-columns: 17% 17% 17% 17% 17%;
    justify-content: space-between;
    height: 40vh;
}

.card-content:nth-child(1), .card-content:nth-child(5){
    padding-top: 30%;
}

.card-content:nth-child(2), .card-content:nth-child(4){
    padding-top: 15%;
}

.card-content{
    width: 100%;
    height: 40vh;
    overflow: hidden;
  }
 
.bottomcontent{
    height: 40vh;
}

.card{
    border-radius: 1.4rem;
    background-color: var(--color-bold);
    box-shadow: var(--box-shadow);
}

.card-image{
    height: 140px; 
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.card-image img{
    padding-left: 10%;
    height: 100%;
    border-radius: 0.4285rem;
    object-fit: cover;
    box-shadow: var(--box-shadow);
}

.name{
    padding: 0.3em;
    position: relative;
    backdrop-filter: blur(1em);
    color: var(--color-light);
    font-weight: 500;
    text-align: center;
    box-shadow: var(--box-shadow);
    border-radius: 0.4285rem;
}

    @media (max-width:720px){
        .container-bg{
            display: none;
        }
        .last{
            padding-top: 0;
        }
    }


    @media screen and (max-width: 1385px) {
        .main-right{
            width: 80%;
        }
        .main-right img{
            height: 50vh;
            width: auto;
        }
    }

    @media screen and (max-width: 1261px) {
        .main{
            height: 100vh;
        }
        .main-menu{
            display: block;
            overflow: hidden;
            padding-top: 9%;
            height: 80vh;
        }

        .main-menu .main-left{
            width: 100%;
            height: 30vh;
            position: relative;
            margin: 0;
            text-align: center;
        }

        .main-right{
            height: 40vh;
            width: auto;
        }
        .main-right img{
            height: 40vh;
        }
        .main-menu .main-right img{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .main .sosial-media{
            padding-top: 4%;
            margin: 0;
            height: 20vh;
            width: 100%;
            text-align: center;
        }
        .main .sosial-media .sosmed i{
            text-align: center;
            margin-right: 5%;
        }

        .content,.container-last{
            padding-top: 4%;
        }

        .content .title{
            display: none;
        }

    }

    @media screen and (max-width: 979px) {
        .card-image img{
            padding-left: 0;
            height: 80%;
        }
    }

    @media screen and (max-width: 842px) {
    .content .topcontent{
        padding: 0;
        padding-top: 10%;
    }

    .card-content .card-content .name{
        display: none;
    }
    .swiper{
        width: 100%;
    }

    .swiper-image .image .desc-hover  h1{
        opacity: 1;
    }

}
 
@media screen and (max-width: 827px) {
    .main-left h3{
        display: none;
    }

    .image-content{
        display: none;
    }

    .card-content .card-content .name{
        display: block;
    }

    .card-content, .card-content:nth-child(2), .card-content:nth-child(4), .card-content:nth-child(1), .card-content:nth-child(5){
        padding: 0;
        height: 15vh;
    }

    .content .topcontent{
        grid-template-columns: 45% 45%;
        height: fit-content;
    }

}

@media screen and (max-width: 561px) {
    .main{padding-top: 10%;}
    .card-image img{
        display: none;
    }
}

@media screen and (max-width: 472px) {
    .content .topcontent{
        padding-top: 20%;
    }
}
