
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   
<style>
    .footer{
    background-color: #1b1b1b;
    height: 25vh;
    text-align:center;
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
    }
    
    .footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#fff;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
        font-size:2em;
        margin:0% 1%;
    }
    
    .footer .row a{
        font-size:2em;
    }

    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }    
    .footer .row a{
        font-size:1em;
    }
    .footer .row a i{
    margin:0% 3%;
    }
   }
</style>

<section class="child footer">
    <div class="row">
        <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
        <a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
        <a href="https://www.youtube.com/"><i class="fa fa-youtube"></i></a>
        <a href="https://www.twitter.com/"><i class="fa fa-twitter"></i></a>
        </div>
        
        <div class="row">
        <ul>                
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="/customer">Our Products</a></li>
        <li><a href="/blogs">Blogs</a></li>
        </ul>
        </div>
        
        <div class="row">
        Copyright © 2022 Ngopikuy - All rights reserved
        </div>
</section>