{% extends 'layout/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"rel="stylesheet">
<div class="container">
    <!-- --------------------- ASIDE BAR --------------------- -->
    {% include 'layout/sidebar.html' %}
    <!-- --------------------- END OF ASIDE --------------------- -->
    <main>          

        {% block list %}
        {% endblock list %}
    </main>
</div>
{% endblock %}